
*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Semi';
  src: url('/assets/WorkSans-SemiBold.ttf');
  font-style: normal;
}

body, h1 {
  font-family: 'Work Sans';
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: rgb(255, 247, 229) !important;
  cursor: none;
}

#custom-cursor {
  cursor: auto;
}

#custom-cursor {
  position: fixed;
  will-change: transform;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  display: none;
  transition: all 0.2s ease-out;
  z-index: 9999; /* Ensure the cursor is above other elements */
}

#custom-cursor.hovered {
  display: block;
  width: 30px; /* Bigger size for hovered state */
  height: 30px;
  margin-left: -10px; /* Adjust based on the size to keep the cursor centered */
  margin-top: -10px;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0); /* Outlined look */
}

a:hover, button:hover, link:hover, .inquire:hover {
  cursor: none;
}

button:not(:disabled):hover {
  cursor: none;
}

.menu-toggle {
  display: none;
}


/*##################### HEADER ################*/

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; /* Adjust the padding as needed */
}

.header {
  margin-left: 10px;
  margin-top: 10px;
}

.navbar {
  display: none;
  /* Other styles */
}


.link {
  color: #000000;
  text-decoration: none;
  font-family: 'Work Sans';
  transition: font-size 0.3s ease;
}

.link:hover {
  font-size: 14px; /* Adjust the font size to your preference */
}

nav a {
  margin-right: 10px; /* Adds space between the links */
}

/* ################# BANNER ################# */

.banner-page .header {
  display: none;
}

.name {
  font-size: 100px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Ensure it's above the frames */
  background-color: #000000; /* Background color of the circle */
  border-radius: 50%; /* Makes the background a circle */
  padding: 50px; /* Adjust the padding to control the size of the circle */
  transition: transform 0.3s ease;
}

.name a {
  color: inherit; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove the underline */
}

.name:hover {
  transform: translate(-50%, -50%) scale(0.9);
}


.banner-container {
  text-align: center;
}

.app-container {
  height: 100vh;
}


.frame-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto; /* This will allow multiple frames to be aligned side by side */
  transition: transform 0.3s ease;
}

.frame {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2; /* Higher z-index value to bring the frame to the front */
}


.inner-image {
  position: absolute;
  top: 67px; /* Adjust to fit inside the frame */
  left: 90px; /* Adjust to fit inside the frame */
  width: 150px; /* Adjust to fit inside the frame */
  height: auto; /* Maintain aspect ratio */
  z-index: 1;
}

.container {
  width: 100vw;
}


@media (max-width: 767.98px) {
  .item:nth-last-child(-n+2) {
    display: none;
  }
}

/* Hide the last 2 items on medium screens */
@media (max-width: 1200px) {
  .item:nth-last-child(-n+1) {
    display: none;
  }
}
 
@media (max-width: 1200px) {
  .item:nth-child(-n+1) {
    display: none;
  }
}

/* ################# ABOUT ################# */

.about-page {
  height: 100%;
  width: 100%;
  word-break: break-all;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-title {
  font-family: 'Work Sans Semi';
  font-size: 150px;
  margin-left: -15px;
}

.about-text {
  margin-right: 25px;
  word-break: keep-all;
}

.about-photo {
  max-width: 100%;
  width: 100%; /* Set the fixed width */
  height: 100%; /* Set the fixed height */
  object-fit: contain; /* Optional: this will ensure the image covers the area without disto
  rting its aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.about-photo:hover {
  transform: rotate(10deg); /* Adjust the degree to your preference */
}

.button {
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3; /* Ensure it's above the frames */
  background-color: #000000; /* Background color of the circle */
  border-radius: 50%; /* Makes the background a circle */
  padding: 10px; /* Adjust the padding to control the size of the circle */
  transition: transform 0.3s ease;
  border: none;
  font-family: 'Work Sans';
}

.button a {
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.fade-in {
  animation: fadeIn 0.75s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(100%);
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

.page-exit {
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* ################# FEED ################# */

.feed-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
}

.lightwidget-widget {
  margin-bottom: 100px;
  margin-top: 250px;
}


.feed-title {
  font-family: 'Work Sans Semi';
  font-size: 150px;
  position: absolute;
  top: 100px;
  left: 166px;
  display: flex; /* Display the spans inline */
  gap: 0; /* Start with no gap between the letters */
}

.feed-title span {
  display: inline-block; /* Necessary for the animation to work on inline elements */
  margin-right: 0; /* Start with no margin on the right */
  animation: raceIn 0.5s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: margin-right 0.5s ease; /* Smooth transition for the margin-right property */
}

.feed-title:hover span {
  margin-right: 10px;
}

.feed-title span:nth-child(2) {
  animation-delay: 0.1s; /* Delay the animation for each subsequent letter */
}

.feed-title span:nth-child(3) {
  animation-delay: 0.2s;
}

.feed-title span:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes spreadRight {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 10px; /* Adjust the distance to control the spread */
  }
}

@keyframes raceIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.feed-button {
  font-size: 20px;
  color: rgb(255, 255, 255);
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3; /* Ensure it's above the frames */
  background-color: #000000; /* Background color of the circle */
  border-radius: 50%; /* Makes the background a circle */
  padding: 10px; /* Adjust the padding to control the size of the circle */
  transition: transform 0.3s ease;
  border: none;
  font-family: 'Work Sans';
}


.button:hover {
  transform: translate(-50%, -50%) scale(0.9);
}


/* ################# INQUIRE ################# */


.inquire-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inquire {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: #000000;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.inquire:hover {
  transform: translate(-50%, -50%) scale(0.9);
}


/* ################# MENUPAGE ################# */

.menu-page {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Use the full height of the viewport */
  opacity: 0;
  transition: opacity 0.8s ease;
}

.menu-page.fade-in {
  opacity: 1;
}

.mobile-nav {
  /* Add your mobile-specific styles here */
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  text-align: center; /* Center the text horizontally */
}

.mobile-nav-list li {
  margin-bottom: 10px; /* Add spacing between menu items */
}

.mobile-nav-list li a {
  font-family: 'Work Sans';
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.close-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Ensure it's above other content */
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333;
}

@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-nav-list.cascade-in li {
  animation: cascade 0.5s ease forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

.mobile-nav-list.cascade-in li:nth-child(1) {
  --i: 1;
}

.mobile-nav-list.cascade-in li:nth-child(2) {
  --i: 2;
}

.mobile-nav-list.cascade-in li:nth-child(3) {
  --i: 3;
}

.mobile-nav-list.cascade-in li:nth-child(4) {
  --i: 4;
}



/* ################# MOBILE ################# */
/* ################# MOBILE ################# */
/* ################# MOBILE ################# */


/* Mobile Styles */
@media (max-width: 768px) {

  body {
    cursor: auto; /* Use the default cursor on mobile */
    width: 100vw;
  }

  .custom-cursor {
    display: none;
  }

  #custom-cursor {
    display: none !important; /* Ensure the custom cursor is hidden on mobile */
  }

  .hide-on-mobile {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
  }

  .menu-toggle img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    position: absolute;
    top: -20px;
    left: -10px;
     /* Maintain aspect ratio */
  }

  .header {
    display: none;
  }

  .button {
    margin-top: 10px;
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
  }

  .opaque {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .about-title {
    font-size: 50px;
    margin-left: 0px;
    text-align: center;
  }

/* ################# FEED ################# */

  .feed-page {
    height: 100vh;
  }
 
  .feed-title {
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  @keyframes raceIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to each letter */
  .feed-title span {
    display: inline-block;
    animation: raceIn 0.8s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0; /* Start with opacity 0 */
  }
  
  /* Delay each letter animation */
  .feed-title span:nth-child(1) { animation-delay: 0.1s; }
  .feed-title span:nth-child(2) { animation-delay: 0.2s; }
  .feed-title span:nth-child(3) { animation-delay: 0.3s; }
  .feed-title span:nth-child(4) { animation-delay: 0.4s; }
  

  .about-photo {
    height: 250px;
    object-fit: contain;
    margin-bottom: 25px;
    margin-top: 15px;
    transition: transform 0.5s ease-in-out;
  }

  .about-photo.tilt {
    transform: rotate(3deg); /* Adjust the angle as needed */
  }

  .about-page {
    height: auto; /* Adjust to auto or a larger fixed height */
  }

  .container {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .about-text {
    margin-left: 5px;
    text-align: center;
  }

}
