html {
  scroll-behavior: smooth;
  width: 100%;
}

.app-container, .content-container {
  width: 100%;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/WorkSans-VariableFont_wght.ttf');
  font-style: normal;
}

body, h1 {
  background-color: rgb(255, 255, 255);
  font-family: 'Work Sans';
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; /* Adjust the padding as needed */
}

nav a {
  margin-right: 10px; /* Adds space between the links */
}

.name {
  font-size: 100px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Ensure it's above the frames */
  background-color: #000000; /* Background color of the circle */
  border-radius: 50%; /* Makes the background a circle */
  padding: 50px; /* Adjust the padding to control the size of the circle */
}

.name a {
  color: inherit; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove the underline */
}

.banner-container {
  text-align: center;
}

.frame-container {
  position: relative;
  display: inline-block;
  width: 275px;
  height: 275px; /* This will allow multiple frames to be aligned side by side */
  transition: transform 0.3s ease;
}

.frame {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2; /* Higher z-index value to bring the frame to the front */
}


.inner-image {
  position: absolute;
  top: 67px; /* Adjust to fit inside the frame */
  left: 90px; /* Adjust to fit inside the frame */
  width: 150px; /* Adjust to fit inside the frame */
  height: auto; /* Maintain aspect ratio */
  z-index: 1;
}

.container {
  width: 100%;
}


@media (max-width: 767.98px) {
  .item:nth-last-child(-n+2) {
    display: none;
  }
}

/* Hide the last 2 items on medium screens */
@media (max-width: 1000px) {
  .item:nth-last-child(-n+1) {
    display: none;
  }
}
 
@media (max-width: 1000px) {
  .item:nth-child(-n+1) {
    display: none;
  }
}
 

.about-page {
  height: 500px;
}



.page-enter {
  transform: translateY(100%);
}

.page-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.page-exit {
  transform: translateY(0);
}

.page-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}